.intro{    
    padding-left: 40px;
    color: #020264;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    width: 100%;
 }
 @media screen and (max-width: 960px){
    .intro{
        font-size: 1.4rem;
    }
 }